.newsletterSection {
  position: relative;
  padding: 100px 16px !important;
  margin-bottom: 100px;
}


.backgroundWrapper {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 1;  
  border-radius: 20px;
}

.backgroundImage {
  border-radius: 18px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}

.whiteCard {
  position: relative;  
  z-index: 10;      
  background-color: #ffffff;
  padding: 32px;
  border-radius: 24px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}


.title {
  font-size: 32px;
  font-weight: 700;
  color: #062a1a;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  color: #4a4a4a;
  line-height: 1.6;
  margin: 0;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  background-color: #f4f7f4;
  padding: 8px;
  border-radius: 12px;
  gap: 10px;
  margin-bottom: 16px;
}

.emailInput {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 20px !important;
  font-size: 16px !important;
  color: #062a1a !important;
  flex-grow: 1;
}

.emailInput::placeholder {
  color: #97a697 !important;
}
.subscribeBtn {
  background-color: #107634 !important;
  color: #ffffff !important;
  border: none !important;
  height: 46px !important;
  padding: 0 32px !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
}

.privacyText {
  font-size: 13px;
  color: #97a697;
  margin: 0;
}

.privacyText a {
  color: #4a4a4a;
  text-decoration: underline;
  transition: color 0.3s;
}

.privacyText a:hover {
  color: #107634;
}

@media (max-width: 575px) {
  .whiteCard {
    padding: 24px 6px;
    border-radius: 16px;
    /* margin: 0 10px; */
  }
  .title {
    font-size: 24px;
    text-align: center;
  }
  .description {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  .privacyText {
    text-align: center;
  }
  .inputGroup {
    flex-direction: column;
  }
  .subscribeBtn {
    width: 100% !important;
  }
  .container {
    padding: 0 10px;
  }
}

