.heroWrapper {
  position: relative;
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}

/* Responsive */
@media (max-width: 768px) {
  .heroWrapper {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
    margin-bottom: 0px !important;
    gap: 32px !important;
  }
}

