.heroWrapper {
  position: relative;
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}

/* Responsive */
@media (max-width: 768px) {
  .heroWrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 0px;
  }
}

